<!DOCTYPE html>
<html>
<head>
    <title>ブログTop</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="line-b">
    <header>
        <h1 class="wf-osw fnw-b blog_title">kemulog</h1>
        <nav class="menu">
            <ul class="clear-fix">
                <li class="f-l menu-tab cl-a-mid"><a class="disp-bl" href="/">home</a></li>
                <li class="f-l menu-tab cl-a-mid"><a class="disp-bl" href="/about">about</a></li>
                <li class="f-r menu-tab menu-tab-login cl-b-mid"><a class="disp-bl" href="/login">ログイン</a></li>
            </ul>
        </nav>
    </header>
</div>
<div class="clear-fix wrapper">
    <section class="f-l content">
        <h1 class="mb20 cl-a-lar">このブログでの使用技術</h1>
        <dl class="list-df">
            <dt class="fnw-b">ホスティング</dt>
            <dd class="fns-mid"><a href="http://vps.sakura.ad.jp/">さくらVPS</a></dd>
            <dt>サーバサイド</dt>
            <dd><a href="http://nodejs.org/">Node js</a> + <a href="http://expressjs.com/">express</a></dd>
            <dt>DB</dt>
            <dd><a class="http://www.mysql.com/">MYSQL</a></dd>
            <dt>テンプレートエンジン</dt>
            <dd><a href="http://embeddedjs.com/">ejs</a></dd>
            <dt>ソース管理</dt>
            <dd><a href="https://github.com/">GitHub</a></dd>
            <dt>ビルドツール</dt>
            <dd><a href="http://jenkins-ci.org/">jenkins</a></dd>
        </dl>

    </section>
    <aside class="f-r content-sub">

    </aside>
</div>
</body>
</html>