<!DOCTYPE html>
<html>
<head>
    <title>ブログTop</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <style>

        body{
            max-width:940px;
            margin: 0 auto;
            color:#444;
        }

        .wrapper{
        }


        .list {
        }

        /*main*/
        .content{
            width:580px;
            margin-right: 40px;
        }

        .article1{

        }

        .article1 .article1-head{
            font-size:18px;
            color: #a62;
        }

        .article1 .article1-content{
            font-size:18px;
            line-height: 1.7;
        }

        /*sub*/

        .content-sub{
            width:280px;
            margin-left: 40px;
        }


        /*menu*/
        .menu{

        }

        .menu-tab{
            width:150px;
            height: 70px;
            padding-top: 50px;
            margin-left: 20px;
            font-size: 20px;
            font-weight: bold;
        }

        .menu-tab:first-child{
            margin-left: 0;
        }


        .cl-strong-mid{
            color:#a62;
            font-size: 16px;
            font-weight: bold;
        }


        .cl-strong-base{
            color:#a62;
            font-size: 18px;
            font-weight: bold;
        }

        .cl-strong-lar{
            color:#a62;
            font-size: 20px;
            font-weight: bold;
        }






        /*メモ*/
        /*
            コンテンツ : 940px;
            メイン    : 580px;
            サイド    : 280px
        */


    </style>
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>俺俺ブログ</h1>
            <nav class="menu">
                <ul class="clear-fix">
                    <li class="f-l menu-tab cl-strong-mid tx-c">home</li>
                    <li class="f-l menu-tab cl-strong-mid tx-c">about</li>
                </ul>
            </nav>
        </header>
        <div class="clear-fix">
            <section class="f-l content">
                <ul class="articles">
                    <% for(var i = 0,len = articles.length; i < len; i++ ){ %>
                        <li class="article1 list mb20">
                            <h2 class="article1-head mb20 cl-strong-base"><%= articles[i].title %></h2>
                            <ul class="clear-fix">
                                <li class="f-l">
                                    <h3>date</h3>
                                    <p></p>
                                </li>
                                <li class="f-l">
                                    <h3>tags</h3>
                                    <p></p>
                                </li>
                            </ul>
                            <p class="article1-content"><%= articles[i].content %></p>
                        </li>
                    <% } %>

                </ul>

                <h2>コンテンツ追加しちゃってー</h2>

                <form action="/json/postBlog" method="post">
                    <label>タイトル<input type="text" name="title" value=""/></label>
                    <label>内容<textarea rows="3" name="content"></textarea></label>
                    <input type="submit" name="submit" value="投稿しちゃう"/>
                </form>
            </section>
            <aside class="f-r content-sub">

            </aside>
        </div>
    </div>
</body>
</html>