<!DOCTYPE html>
<html>
<head>
    <title>ブログTop</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
    <body>
        <div class="line-b">
            <header>
                <h1 class="wf-osw fnw-b blog_title">kemulog</h1>
                <nav class="menu">
                    <ul class="clear-fix">
                        <li class="f-l menu-tab cl-a-mid"><a class="disp-bl" href="/">home</a></li>
                        <li class="f-l menu-tab cl-a-mid"><a class="disp-bl" href="/me">about</a></li>
                        <li class="f-r menu-tab menu-tab-login cl-b-mid"><a class="disp-bl" href="/login">ログイン</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="clear-fix wrapper">
            <section class="f-l content">
                <ul class="articles">
                    <% for(var i = 0,len = articles.length; i < len; i++ ){ %>
                        <li class="article1 list mt10 mb40">
                            <h2 class="article1-head mb20 cl-a-base"><%= articles[i].title %></h2>
                            <ul class="clear-fix line-t line-b lh30">
                                <% if(articles[i].postTime != undefined){ %>
                                    <li class="f-l">
                                        <p class="cl-b-sm"><i class="fa fa-clock-o mr3 cl-b-vsm"></i><%= articles[i].postTime%></p>
                                    </li>
                                <% } %>
                                <% if(articles[i].tags != undefined){ %>
                                    <li class="f-l">
                                        <p class="cl-a-sm"><i class="fa fa-tags mr3 cl-a-vsm"></i><%= articles[i].tags %></p>
                                    </li>
                                <% } %>
                            </ul>
                            <p class="article1-content mt10"><%= articles[i].content %></p>
                        </li>
                    <% } %>

                </ul>

                <h2>コンテンツ追加しちゃってー</h2>

                <form action="/json/postBlog" method="post">
                    <label>タイトル<input type="text" name="title" value=""/></label>
                    <label>内容<textarea rows="3" name="content"></textarea></label>
                    <label>タグ<textarea rows="3" name="tags"></textarea></label>
                    <input type="submit" name="submit" value="投稿しちゃう"/>
                </form>
            </section>
            <aside class="f-r content-sub">

            </aside>
        </div>
    </body>
</html>